ul,li,img,button{padding:0;margin:0;font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;}
li{list-style: none;}
body{background-color: #eee;padding:0 20px 20px 20px;}
button{outline:none;}
/* -- top -- */
.m-body{
	margin:0 auto;
	width:900px;
}
.m-top{
	border:solid 1px #bbb;
	border-radius: 3px;
	background-color: white;
}
.top-background{
	background-color: #aaa;
	height:120px;
	padding:20px;
}
.top-message{
	height:110px;
	padding:0 20px 0 200px;
}
.btn-top{
	float: right;
	padding:6px 15px;
	background:none;
	color:white;
	border:solid 1px white;
	border-radius: 2px;
}
.btn-top i{
	margin-right:6px;
}
#btn-message{
	color:blue;
	border:solid 1px blue;
}
.user-photo{
	position: relative;
	float:left;
	height:160px;
	width:160px;
	border:solid 5px black;
	border-radius: 5px;
	left:20px;
	top:50px;
}

/* -- content-left -- */
.m-content{
	margin-top:10px;
	border-radius: 3px;
	display: flex;
}
.m-left{

	border:solid 1px #bbb;
	background-color: white;
	width:70%;
}

/* - tab - */
.easytabs{
	height:44px;
	border-bottom:solid 1px #ccc;
	margin-bottom:20px;
}
.btn-title{
	float: left;
	padding:8px 0;
	margin:8px 20px;
	cursor: pointer;
}
.btn-title a{
	text-decoration: none;
	color:#333;
}


/* -- artical -- */
.u-list{
	border-top:solid 1px #ccc;
	padding: 0 0 15px 0;
}
.list-title{
	display: inline-block;
	margin:10px 0 ;
	color:black;
	font-size: 18px;
	font-weight: bold;
}
.list-content{
	margin:5px 0 10px 0 ;
	height:100px;
}
.list-image{
	float:left;
	margin:0px 20px 0 0;
	width:150px;
	height:100px;
}
.btn-action{
	padding:5px 10px;
	color:#777;
	background-color: white;
	font-size: 13px;
	border:0;
}
.btn-action i{margin-right:7px;}
.btn-thumbs-up{
	color:blue;
	background-color: lightblue;
	padding:6px 14px;
}

/* -- collection -- */
.collect-user-photo{
	border:solid 1px black;
	width:36px;
	height:36px;
	margin:0 10px 8px 0;
}

/* -- attention -- */

/* - tab - */
.a-tabs{
	height:28px;
}
.btn-a{
	margin-top:0;
	padding-top:0;
	margin:0 40px 0 0;
}

/* - attentioned - */
.img-attention{
	height:54px;
	width:54px;
	margin:0 20px 0 0;
}
.list-a{
	margin-top:20px;
	border-top:0;
	border-bottom:solid 1px #ccc;
	line-height: 20px;
}
.p-attention{
	font-weight: bold;
	color:#333;
	padding:0;margin:0;
	font-size:15px;
}
.btn-gz{
	margin-left:auto;
	height:36px;
	width:90px;
	border-radius: 3px;
}

/* -- content-right -- */
.m-right{
	margin-left:10px;
	width:30%;
}
.u-attention{
	background-color: white;
	height:75px;
	display: flex;
	border-radius: 3px;
	border: solid 1px #ccc;
}
.attention-list{
	padding:20px;
	text-align: center;
	width:50%;
	line-height: 12px;
}
.emmm{
	border-top:solid 1px #ccc;
	border-bottom:solid 1px #ccc;
	padding:20px 5px;
	margin:10px 0 ;
}
.statement{font-size: 12px;padding:0 5px;}