@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-07-05 19:00:20
 * @version $Id$
 */
 .search-body {
 	position: absolute;
 	top: 60px;
 	display: flex;
 	width: 100%;
 }
 .search-left-part {
 	width: 65%;
 	border-left: 200px solid #f6f6f6;
 	border-top: 10px solid #f6f6f6;
 	padding: 5px 20px 0 20px;
 }
 .search-right-part {
 	width: 35%;
 	border-left: 10px solid #f6f6f6;
 	border-top: 10px solid #f6f6f6;
 	border-right: 200px solid #f6f6f6;
 }
 .part-title {
 	font-size: 1.2em;
 	font-weight: 550;
 }
 .part-title span {
 	color: red;
 }
 .part-content {
 	width: 100%;
 	font-size: 1.1em;
 	line-height: 1.6em;
 	white-space:nowrap;
 	height: 25px;
 	overflow: hidden;
 	text-overflow: ellipsis;
 }
 .part-content span {
 	font-weight: 550;
 }
 .left-part {
 	padding: 20px 0 10px 0;
 	border-bottom: 1px solid #f6f6f6;
 }
 .list-group-item span {
 	font-weight: 600;
 	font-size: 1.2em;
 }
 .pagination {
 	position: absolute;
 	left: 40%;
 	top: 590px;
 }
