@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-07-05 14:04:36
 * @version $Id$
 */
 .top-whole {
 	display: flex;
 	height: 55px;
 }
 .top-title {
 	font-size: 2em;
 	font-weight: 500;
 	position: absolute;
 	top: 10px;
 	left: 200px;
 	color: #0084ff;
 }
 .top-home {
 	position: absolute;
 	top: 25px;
 	left: 330px;
 	text-decoration: none;
 }
 .top-find {
 	position: absolute;
 	top: 25px;
 	left: 400px;
 }
 .top-home a {
 	color: black;
 }
 .top-find a {
 	color: gray;
 }
 .top-home a, .top-find a {
 	font-size: 1.1em;
 	text-decoration: none;
 	
 }
 .top-home a:hover, .top-find a:hover {
 	text-decoration: none;
 }
 .top-content {
 	font-size: 1em;
 	height: 30px;
 	width: 350px;
 	position: absolute;
 	padding-left: 10px;
 	top: 18px;
 	left: 500px;
 	border: 1px solid #ebebeb;
 	border-radius: 5px;
 }
 .top-question {
 	height: 32px;
 	width: 60px;
 	position: absolute;
 	top: 18px;
 	left: 878px;
 	background-color: #0084ff;
 	color: white;
 	border: none;
 	border-radius: 5px;
 }
 .top-img {
 	position: absolute;
 	left: 1010px;
 	top: 20px;
 	display: flex;
 }
 .top-img img {
 	margin-left: 20px;
 } 
 .dropdown img {
 	position: relative;
 	left: -26px;
 }
 .dropdown button {
 	width: 25px;
 	height: 25px;
 	padding: 0px;
 	margin: 0px;
 	background-color: white;
 	position: relative;
 	top: -1px;
 }
 .dropdown button:hover, .dropdown button:active:after {
 	text-decoration: none;
 	border: 0px;
 }
 #dropdownMenu1 {
 }
 .dropdown-menu {
 	width: 300px;
 }
 .dropdown ul li {
 	display: flex; 	
 	width: 300px;
 	height: 20px;
 	padding-top: 2px;
 }
 .span {
 	width: 200px;
 }
 .dropdown ul li a {
 	padding: 0 5px 0 5px;
 	height: 15px;
 	color: #0084ff;
 }
 .dropdown ul li a:hover {
 	text-decoration: none;
 	background-color: white;
 }
 .dropdown ul li p {
 }
 