@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2018-07-05 14:04:36
 * @version $Id$
 */
 .top-whole {
 	display: flex;
 	height: 55px;
 }
 .top-title {
 	font-size: 2em;
 	font-weight: 540;
 	position: absolute;
 	top: 10px;
 	left: 200px;
 	color: #0084ff;
 }
 .top-home {
 	position: absolute;
 	top: 25px;
 	left: 330px;
 	text-decoration: none;
 }
 .top-find {
 	position: absolute;
 	top: 25px;
 	left: 400px;
 }
 .top-home a {
 	color: black;
 }
 .top-find a {
 	color: gray;
 }
 .top-home a, .top-find a {
 	font-size: 1.1em;
 	text-decoration: none;
 	
 }
 .top-home a:hover, .top-find a:hover {
 	text-decoration: none;
 }
 .top-content {
 	font-size: 1em;
 	height: 30px;
 	width: 350px;
 	position: absolute;
 	padding-left: 10px;
 	top: 18px;
 	left: 500px;
 	border: 1px solid #ebebeb;
 	border-radius: 5px;
 }
 .top-question {
 	height: 32px;
 	width: 60px;
 	position: absolute;
 	top: 18px;
 	left: 878px;
 	background-color: #0084ff;
 	color: white;
 	border: none;
 	border-radius: 5px;
 }
 .top-img {
 	position: absolute;
 	left: 1050px;
 	top: 20px;
 }
 .top-img img {
 	width: 25px;
 	height: 25px;
 	margin-left: 25px;
 }